* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #ffffff; }

img {
  border: none; }

a, button {
  -webkit-tap-highlight-color: transparent; }

button {
  -webkit-appearance: none; }

html, body {
  width: 100%;
  height: 100%;
  font-family: Helvetica; }

@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont.eot?t=1481356225402");
  /* IE9*/
  src: url("../font/iconfont.eot?t=1481356225402#iefix") format("embedded-opentype"), url("../font/iconfont.woff?t=1481356225402") format("woff"), url("../font/iconfont.ttf?t=1481356225402") format("truetype"), url("../font/iconfont.svg?t=1481356225402#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-xiazai:before {
  content: "\e6b7"; }

.icon-fenxiang:before {
  content: "\e631"; }

.icon-queding:before {
  content: "\e6a3"; }

.icon-kaishi:before {
  content: "\e608"; }

.icon-wode:before {
  content: "\e6b1"; }

.icon-103:before {
  content: "\e65b"; }

.icon-lajixiang:before {
  content: "\e645"; }

.icon-free:before {
  content: "\e60e"; }

.icon-aixin:before {
  content: "\e632"; }

.icon-jiantouyou:before {
  content: "\e609"; }

.icon-wz:before {
  content: "\e604"; }

.icon-kaishi1:before {
  content: "\e796"; }

.icon-wenda:before {
  content: "\e610"; }

.icon-huatong:before {
  content: "\e60f"; }

.icon-xiaoxi:before {
  content: "\e60d"; }

.icon-uilist:before {
  content: "\e600"; }

.swiper-container {
  width: 100%;
  height: 100%; }
  .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) {
    background-image: url("../img/flash/flash1.png");
    background-size: cover;
    background-repeat: no-repeat; }
  .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) {
    background-image: url("../img/flash/flash2.png");
    background-size: cover;
    background-repeat: no-repeat; }
  .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) {
    background-image: url("../img/flash/flash3.png");
    background-size: cover;
    background-repeat: no-repeat; }
  .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) {
    background-image: url("../img/flash/flash4.png");
    background-size: cover;
    background-repeat: no-repeat; }
  .swiper-container .swiper-wrapper .swiper-slide:nth-child(5) {
    background-image: url("../img/flash/flash5.png");
    background-size: cover;
    background-repeat: no-repeat; }
    .swiper-container .swiper-wrapper .swiper-slide:nth-child(5) h4 {
      width: 2.4rem;
      height: 2.4rem;
      margin: 2.5rem 0 0 3.8rem;
      color: #FFFFFF;
      font-size: 1rem;
      line-height: 1.2rem;
      font-weight: bolder; }
    .swiper-container .swiper-wrapper .swiper-slide:nth-child(5) a {
      width: 2.85rem;
      height: 0.7rem;
      margin: 6rem auto 0;
      display: block;
      background-image: url("../img/flash/jiaru.png");
      background-size: contain;
      background-repeat: no-repeat; }
  .swiper-container .swiper-wrapper .swiper-slide h2 {
    width: 3rem;
    height: 0.6rem;
    margin: 2.5rem auto 0;
    text-align: center;
    color: #FFFFFF;
    font-size: 0.6rem;
    line-height: 0.6rem; }
  .swiper-container .swiper-wrapper .swiper-slide h3 {
    width: 1.2rem;
    height: 3.4rem;
    margin: 1rem 1rem 0 5rem; }
    .swiper-container .swiper-wrapper .swiper-slide h3 p {
      width: 50%;
      height: 100%;
      color: #FFFFFF;
      line-height: 0.4rem;
      font-size: 0.3rem;
      text-align: center;
      float: right;
      writing-mode: vertical-rl;
      font-weight: 200; }
    .swiper-container .swiper-wrapper .swiper-slide h3 p:nth-child(2) {
      padding-top: 0.6rem;
      height: 4.2rem; }
    .swiper-container .swiper-wrapper .swiper-slide h3 p:nth-child(1) {
      padding-bottom: 0.6rem; }

.login {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../img/login/log.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .login .input {
    width: 6.3rem;
    height: 2.1rem;
    margin: 3.7rem auto 0;
    color: #FFFFFF; }
    .login .input input {
      font-size: 0.4rem;
      color: #ffffff;
      text-align: left;
      line-height: 0.9rem;
      border: none;
      outline: none;
      background-color: transparent;
      font-weight: bolder;
      margin-left: 0.8rem; }
  .login .jinru {
    width: 6.3rem;
    height: 2.3rem;
    margin: 1.8rem auto 0; }
    .login .jinru a {
      display: block;
      width: 6rem;
      height: 0.7rem;
      margin: 0.5rem auto 0;
      background-size: cover;
      background-repeat: no-repeat; }
      .login .jinru a:nth-child(1) {
        background-image: url("../img/login/login.png"); }
      .login .jinru a:nth-child(2) {
        margin-top: 0.58rem;
        background-image: url("../img/login/register1.png"); }

.reg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../img/login/reg.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .reg .input {
    width: 6.3rem;
    height: 5.5rem;
    margin: 3.6rem auto 0;
    color: #FFFFFF; }
    .reg .input input {
      font-size: 0.4rem;
      color: #ffffff;
      text-align: left;
      line-height: 0.9rem;
      border: none;
      outline: none;
      background-color: transparent;
      font-weight: bolder;
      margin-left: 0.85rem; }
  .reg .jinru {
    width: 6.3rem;
    height: 1.1rem;
    margin: 1rem auto 0; }
    .reg .jinru a {
      display: block;
      width: 6rem;
      height: 0.7rem;
      margin: 0.5rem auto 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../img/login/register.png"); }

.shouye {
  width: 100%;
  position: absolute; }
  .shouye #index {
    width: 100%;
    display: block;
    padding: 0 0.2rem 1.2rem;
    background-color: #1c1c23; }
    .shouye #index .head {
      width: 100%;
      height: 0.88rem;
      background-color: #1b1b22; }
      .shouye #index .head .weizhi {
        width: 1.46rem;
        height: 0.88rem;
        float: left;
        text-align: center; }
        .shouye #index .head .weizhi img {
          width: 0.35rem;
          height: 0.35rem;
          display: block;
          float: left;
          margin: 0.26rem auto;
          margin-left: 0.2rem; }
        .shouye #index .head .weizhi span {
          font-size: 0.24rem;
          display: block;
          float: left;
          color: #c6c4c4;
          line-height: 0.88rem;
          margin-left: 0.4em; }
      .shouye #index .head .input {
        width: 5.6rem;
        height: 0.88rem;
        position: relative;
        padding: 0 0.2rem;
        float: left; }
        .shouye #index .head .input input {
          width: 5.2rem;
          height: 0.54rem;
          background-color: #0e0e11;
          border-radius: 0.12rem;
          border: none;
          outline: none;
          color: #FFFFFF;
          font-size: 0.3rem;
          padding-left: 0.6rem;
          display: block;
          margin-top: 0.17rem; }
        .shouye #index .head .input .search {
          width: 0.35rem;
          height: 0.35rem;
          position: absolute;
          top: 0.26rem;
          left: 0.3rem;
          background-image: url("../img/shouye/index/search.png");
          background-repeat: no-repeat;
          background-size: cover; }
        .shouye #index .head .input .yuyin {
          width: 0.35rem;
          height: 0.35rem;
          position: absolute;
          top: 0.26rem;
          right: 0.3rem;
          background-image: url("../img/shouye/index/huatong.png");
          background-repeat: no-repeat;
          background-size: cover; }
    .shouye #index .swiper-container {
      width: 100%;
      height: 3.35rem; }
      .shouye #index .swiper-container .swiper-slide {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover; }
        .shouye #index .swiper-container .swiper-slide:nth-child(1) {
          background-image: url("../img/shouye/index/banner1.png"); }
        .shouye #index .swiper-container .swiper-slide:nth-child(2) {
          background-image: url("../img/shouye/index/banner2.png"); }
        .shouye #index .swiper-container .swiper-slide:nth-child(3) {
          background-image: url("../img/shouye/index/banner3.png"); }
        .shouye #index .swiper-container .swiper-slide:nth-child(4) {
          background-image: url("../img/shouye/index/banner4.png"); }
        .shouye #index .swiper-container .swiper-slide:nth-child(5) {
          background-image: url("../img/shouye/index/banner5.png"); }
    .shouye #index .nav {
      width: 100%;
      height: 2rem;
      margin: 0.3rem auto;
      display: flex;
      justify-content: space-around; }
      .shouye #index .nav .item {
        width: 1.3rem;
        height: 2rem;
        text-align: center;
        position: relative; }
        .shouye #index .nav .item a {
          position: absolute;
          width: 100%;
          height: 100%;
          display: block;
          top: 0; }
        .shouye #index .nav .item .img {
          width: 1.1rem;
          height: 1.1rem;
          margin: 0.2rem auto;
          background-repeat: no-repeat;
          background-size: cover; }
        .shouye #index .nav .item span {
          font-size: 0.24rem;
          color: #FFFFFF;
          display: block; }
      .shouye #index .nav .item:nth-child(1) .img {
        background-image: url("../img/shouye/index/wanle.png"); }
      .shouye #index .nav .item:nth-child(2) .img {
        background-image: url("../img/shouye/index/tingshuo.png"); }
      .shouye #index .nav .item:nth-child(3) .img {
        background-image: url("../img/shouye/index/fujin.png"); }
      .shouye #index .nav .item:nth-child(4) .img {
        background-image: url("../img/shouye/index/shoucang.png"); }
    .shouye #index .tui {
      width: 100%;
      height: 5.2rem; }
      .shouye #index .tui .title {
        width: 100%;
        height: 0.88rem;
        background-image: url("../img/shouye/index/tui.png");
        background-repeat: no-repeat;
        background-size: cover; }
      .shouye #index .tui .list {
        width: 100%;
        height: 4.32rem;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .shouye #index .tui .list .item {
          width: 2.18rem;
          height: 3.7rem;
          background-repeat: no-repeat;
          background-size: cover; }
          .shouye #index .tui .list .item a {
            display: block;
            width: 100%;
            height: 100%; }
          .shouye #index .tui .list .item:nth-child(1) {
            background-image: url("../img/shouye/index/tui1.png"); }
          .shouye #index .tui .list .item:nth-child(2) {
            background-image: url("../img/shouye/index/tui2.png"); }
          .shouye #index .tui .list .item:nth-child(3) {
            background-image: url("../img/shouye/index/tui3.png"); }
    .shouye #index .jingpin {
      width: 100%;
      height: 7rem; }
      .shouye #index .jingpin .title {
        width: 100%;
        height: 0.88rem;
        background-image: url("../img/shouye/index/jingpin.png");
        background-repeat: no-repeat;
        background-size: cover; }
      .shouye #index .jingpin .list {
        width: 100%;
        margin-top: 0.3rem; }
        .shouye #index .jingpin .list .item {
          width: 100%;
          height: 2.7rem;
          margin-bottom: 0.3rem;
          background-repeat: no-repeat;
          background-size: cover; }
          .shouye #index .jingpin .list .item a {
            display: block;
            width: 100%;
            height: 100%; }
          .shouye #index .jingpin .list .item:nth-child(1) {
            background-image: url("../img/shouye/index/jingpin1.png"); }
          .shouye #index .jingpin .list .item:nth-child(2) {
            background-image: url("../img/shouye/index/jingpin2.png"); }
  .shouye #mudi {
    width: 100%;
    display: none;
    padding-bottom: 1.2rem; }
    .shouye #mudi .head {
      width: 100%;
      height: 0.88rem;
      background-color: #1b1b22;
      padding: 0 0.2rem; }
      .shouye #mudi .head .weizhi {
        width: 1.46rem;
        height: 0.88rem;
        float: left;
        text-align: center; }
        .shouye #mudi .head .weizhi img {
          width: 0.35rem;
          height: 0.35rem;
          display: block;
          float: left;
          margin: 0.26rem auto;
          margin-left: 0.2rem; }
        .shouye #mudi .head .weizhi span {
          font-size: 0.24rem;
          display: block;
          float: left;
          color: #c6c4c4;
          line-height: 0.88rem;
          margin-left: 0.4em; }
      .shouye #mudi .head .input {
        width: 5.6rem;
        height: 0.88rem;
        position: relative;
        padding: 0 0.2rem;
        float: left; }
        .shouye #mudi .head .input input {
          width: 5.2rem;
          height: 0.54rem;
          background-color: #0e0e11;
          border-radius: 0.12rem;
          border: none;
          outline: none;
          color: #FFFFFF;
          font-size: 0.3rem;
          padding-left: 0.6rem;
          display: block;
          margin-top: 0.17rem; }
        .shouye #mudi .head .input .search {
          width: 0.35rem;
          height: 0.35rem;
          position: absolute;
          top: 0.26rem;
          left: 0.3rem;
          background-image: url("../img/shouye/index/search.png");
          background-repeat: no-repeat;
          background-size: cover; }
        .shouye #mudi .head .input .yuyin {
          width: 0.35rem;
          height: 0.35rem;
          position: absolute;
          top: 0.26rem;
          right: 0.3rem;
          background-image: url("../img/shouye/index/huatong.png");
          background-repeat: no-repeat;
          background-size: cover; }
    .shouye #mudi .content {
      width: 100%;
      height: auto;
      background-color: #fbfcfc; }
      .shouye #mudi .content .list {
        width: 2.3rem;
        padding-bottom: 1.5rem;
        background-color: #eff0f0;
        float: left; }
        .shouye #mudi .content .list .item1 {
          width: 100%;
          height: 0.8rem;
          line-height: 0.8rem;
          color: #737373;
          text-align: center;
          font-size: 0.24rem; }
        .shouye #mudi .content .list .item {
          width: 100%;
          height: 1rem;
          color: #737373;
          text-align: center;
          line-height: 1rem;
          font-size: 0.24rem; }
          .shouye #mudi .content .list .item.active {
            background-color: #fbfcfc;
            color: #2c63ff; }
      .shouye #mudi .content .jingdian {
        width: 5.2rem;
        float: left;
        padding-bottom: 1.5rem;
        background-color: #fbfcfc; }
        .shouye #mudi .content .jingdian .option {
          width: 100%;
          height: 100%;
          display: none; }
          .shouye #mudi .content .jingdian .option.active {
            display: block; }
          .shouye #mudi .content .jingdian .option .list {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: 0.23rem;
            background-color: #fbfcfc; }
            .shouye #mudi .content .jingdian .option .list .item {
              width: 2.24rem;
              height: 1.65rem;
              background-repeat: no-repeat;
              background-size: cover;
              margin-bottom: 0.23rem; }
              .shouye #mudi .content .jingdian .option .list .item:nth-child(1) {
                background-image: url("../img/shouye/mudi/jd1.png"); }
              .shouye #mudi .content .jingdian .option .list .item:nth-child(2) {
                background-image: url("../img/shouye/mudi/jd2.png"); }
              .shouye #mudi .content .jingdian .option .list .item:nth-child(3) {
                background-image: url("../img/shouye/mudi/jd3.png"); }
              .shouye #mudi .content .jingdian .option .list .item:nth-child(4) {
                background-image: url("../img/shouye/mudi/jd4.png"); }
              .shouye #mudi .content .jingdian .option .list .item:nth-child(5) {
                background-image: url("../img/shouye/mudi/jd5.png"); }
              .shouye #mudi .content .jingdian .option .list .item:nth-child(6) {
                background-image: url("../img/shouye/mudi/jd6.png"); }
              .shouye #mudi .content .jingdian .option .list .item:nth-child(7) {
                background-image: url("../img/shouye/mudi/jd7.png"); }
              .shouye #mudi .content .jingdian .option .list .item:nth-child(8) {
                background-image: url("../img/shouye/mudi/jd8.png"); }
          .shouye #mudi .content .jingdian .option .tebie {
            width: 1.92rem;
            height: 1.76rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("../img/shouye/mudi/tebie.png");
            margin: 0.23rem;
            margin-top: 2rem;
            display: flex;
            flex-wrap: wrap; }
  .shouye #xiaoxi {
    width: 100%;
    display: none;
    padding-bottom: 2rem; }
    .shouye #xiaoxi .head {
      width: 100%;
      height: 0.88rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #1b1b22; }
      .shouye #xiaoxi .head .back {
        width: 0.54rem;
        height: 0.54rem; }
      .shouye #xiaoxi .head h3 {
        width: 4rem;
        height: 0.5rem; }
        .shouye #xiaoxi .head h3 b {
          width: 50%;
          height: 100%;
          color: #959596;
          font-size: 0.4rem;
          line-height: 0.5rem;
          text-align: center;
          float: left; }
          .shouye #xiaoxi .head h3 b.active {
            color: #FFFFFF; }
      .shouye #xiaoxi .head .search {
        width: 0.54rem;
        height: 0.54rem;
        background-image: url("../img/shouye/reyi/search.png");
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 0.5rem; }
    .shouye #xiaoxi .reyi {
      width: 100%;
      display: block; }
      .shouye #xiaoxi .reyi .item {
        width: 100%;
        height: 3rem;
        background-repeat: no-repeat;
        background-size: cover; }
        .shouye #xiaoxi .reyi .item:nth-child(1) {
          background-image: url("../img/shouye/reyi/reyi1.png"); }
        .shouye #xiaoxi .reyi .item:nth-child(2) {
          background-image: url("../img/shouye/reyi/reyi2.png"); }
        .shouye #xiaoxi .reyi .item:nth-child(3) {
          background-image: url("../img/shouye/reyi/reyi3.png"); }
    .shouye #xiaoxi .wenda {
      width: 100%;
      display: none; }
      .shouye #xiaoxi .wenda .item {
        width: 100%;
        height: 3rem;
        background-repeat: no-repeat;
        background-size: cover; }
        .shouye #xiaoxi .wenda .item:nth-child(1) {
          background-image: url("../img/shouye/reyi/wenda1.png"); }
        .shouye #xiaoxi .wenda .item:nth-child(2) {
          background-image: url("../img/shouye/reyi/wenda2.png"); }
        .shouye #xiaoxi .wenda .item:nth-child(3) {
          background-image: url("../img/shouye/reyi/wenda3.png"); }
  .shouye #wode {
    width: 100%;
    display: none;
    background-color: #fcfcfd;
    padding-bottom: 2rem; }
    .shouye #wode .head {
      width: 100%;
      height: 5rem;
      background-image: url("../img/shouye/wode/bg.png");
      background-size: cover;
      background-repeat: no-repeat; }
      .shouye #wode .head h3 {
        width: 100%;
        height: 1.5rem;
        color: #FFFFFF;
        font-size: 0.3rem;
        line-height: 1.5rem;
        font-weight: bolder;
        text-align: center; }
      .shouye #wode .head .tou {
        width: 100%;
        height: 1.9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.35rem; }
        .shouye #wode .head .tou .set {
          width: 0.9rem;
          height: 0.9rem;
          background-image: url("../img/shouye/wode/set.png");
          background-size: cover;
          background-repeat: no-repeat; }
        .shouye #wode .head .tou .touxiang {
          width: 1.8rem;
          height: 1.8rem;
          background-image: url("../img/shouye/wode/touxiang.png");
          background-size: cover;
          background-repeat: no-repeat;
          margin: 0 0.5rem; }
        .shouye #wode .head .tou .like {
          width: 0.9rem;
          height: 0.9rem;
          background-image: url("../img/shouye/wode/like.png");
          background-size: cover;
          background-repeat: no-repeat; }
      .shouye #wode .head h4 {
        width: 100%;
        height: 0.5rem;
        line-height: 0.5rem;
        color: #000000;
        font-weight: bolder;
        text-align: center;
        font-size: 0.3rem; }
      .shouye #wode .head h5 {
        width: 100%;
        height: 0.5rem;
        line-height: 0.5rem;
        color: #000000;
        font-weight: 300;
        text-align: center;
        font-size: 0.3rem; }
        .shouye #wode .head h5 span:nth-child(1) {
          margin-right: 0.6rem; }
      .shouye #wode .head h6 {
        width: 100%;
        height: 0.5rem;
        line-height: 0.5rem;
        color: #c3c1c1;
        font-weight: 300;
        text-align: center;
        font-size: 0.2rem; }
    .shouye #wode .list {
      width: 100%;
      margin-top: 0.3rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .shouye #wode .list .item {
        width: 2.4rem;
        height: 1.8rem;
        background-size: cover;
        background-repeat: no-repeat; }
        .shouye #wode .list .item a {
          display: block;
          width: 100%;
          height: 100%; }
        .shouye #wode .list .item:nth-child(1) {
          background-image: url("../img/shouye/wode/list1.png"); }
        .shouye #wode .list .item:nth-child(2) {
          background-image: url("../img/shouye/wode/list2.png"); }
        .shouye #wode .list .item:nth-child(3) {
          background-image: url("../img/shouye/wode/list3.png"); }
    .shouye #wode .options {
      width: 100%;
      padding: 0 0.2rem; }
      .shouye #wode .options .item {
        width: 100%;
        height: 0.8rem;
        border-bottom: 2px solid #e5e5e5;
        font-size: 0.24rem;
        color: #5a5a5a; }
        .shouye #wode .options .item i {
          float: left;
          line-height: 0.8rem; }
        .shouye #wode .options .item span {
          float: left;
          margin-left: 0.2rem;
          line-height: 0.8rem; }
        .shouye #wode .options .item i:nth-child(3) {
          float: right;
          margin-right: 0.3rem;
          line-height: 0.8rem; }

#nav {
  width: 100%;
  height: 1rem;
  border-top: 0.01rem solid #8f8e8e;
  position: fixed;
  bottom: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  z-index: 100; }
  #nav .item {
    width: 1rem;
    height: 1rem;
    color: #363641;
    text-align: center; }
    #nav .item i {
      display: block;
      line-height: 1rem;
      font-size: 0.5rem; }
  #nav .item.active {
    color: #4096fb; }

.wanle {
  width: 100%;
  height: 100%;
  background-color: #1c1c23;
  padding: 0 0.2rem;
  position: absolute;
  overflow: hidden; }
  .wanle .head {
    width: 100%;
    height: 0.88rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1b22; }
    .wanle .head .back {
      width: 0.54rem;
      height: 0.54rem;
      background-image: url("../img/wanle/back.png");
      background-size: cover;
      background-repeat: no-repeat; }
      .wanle .head .back a {
        display: block;
        width: 100%;
        height: 100%; }
    .wanle .head h3 {
      font-size: 0.4rem;
      color: #FFFFFF; }
    .wanle .head .menu {
      width: 0.8rem;
      height: 0.54rem;
      background-image: url("../img/wanle/menu.png");
      background-size: cover;
      background-repeat: no-repeat; }
  .wanle .dian {
    width: 100%;
    height: 2rem;
    background-image: url("../img/wanle/dian.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .wanle .swiper-container {
    width: 100%;
    height: 10rem; }
    .wanle .swiper-container .swiper-slide {
      width: 90%;
      height: 90%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
      .wanle .swiper-container .swiper-slide a {
        display: block;
        width: 100%;
        height: 100%; }
      .wanle .swiper-container .swiper-slide:nth-child(1) {
        background-image: url("../img/wanle/slide1.png"); }
      .wanle .swiper-container .swiper-slide:nth-child(2) {
        background-image: url("../img/wanle/slide2.png"); }
      .wanle .swiper-container .swiper-slide:nth-child(3) {
        background-image: url("../img/wanle/slide3.png"); }
      .wanle .swiper-container .swiper-slide:nth-child(4) {
        background-image: url("../img/wanle/slide4.png"); }
      .wanle .swiper-container .swiper-slide:nth-child(5) {
        background-image: url("../img/wanle/slide5.png"); }

.xianggang {
  width: 100%;
  background-color: #1c1c23;
  padding: 0 0.2rem 0.4rem; }
  .xianggang .head {
    width: 100%;
    height: 0.88rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1b22; }
    .xianggang .head .back {
      width: 0.54rem;
      height: 0.54rem;
      background-image: url("../img/xianggang/back.png");
      background-size: cover;
      background-repeat: no-repeat; }
      .xianggang .head .back a {
        display: block;
        width: 100%;
        height: 100%; }
    .xianggang .head h3 {
      font-size: 0.4rem;
      color: #FFFFFF; }
    .xianggang .head .menu {
      width: 0.8rem;
      height: 0.54rem;
      background-image: url("../img/xianggang/menu.png");
      background-size: cover;
      background-repeat: no-repeat; }
  .xianggang .list {
    width: 100%; }
    .xianggang .list .item {
      width: 100%;
      height: 4rem;
      margin: 0.4rem auto;
      background-size: cover;
      background-repeat: no-repeat; }
      .xianggang .list .item a {
        display: block;
        width: 100%;
        height: 100%; }
      .xianggang .list .item:nth-child(1) {
        background-image: url("../img/xianggang/banner1.png"); }
      .xianggang .list .item:nth-child(2) {
        background-image: url("../img/xianggang/banner2.png"); }
      .xianggang .list .item:nth-child(3) {
        background-image: url("../img/xianggang/banner3.png"); }

.dishini {
  width: 100%;
  height: 100%;
  background-color: #1c1c23; }
  .dishini .head {
    width: 100%;
    padding: 0 0.2rem;
    height: 0.88rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 1; }
    .dishini .head .back {
      width: 0.54rem;
      height: 0.54rem;
      background-image: url("../img/xianggang/back.png");
      background-size: cover;
      background-repeat: no-repeat; }
      .dishini .head .back a {
        display: block;
        width: 100%;
        height: 100%; }
    .dishini .head h3 {
      font-size: 0.4rem;
      color: #FFFFFF; }
    .dishini .head .menu {
      width: 0.8rem;
      height: 0.54rem;
      background-image: url("../img/xianggang/menu.png");
      background-size: cover;
      background-repeat: no-repeat; }
  .dishini .headimg {
    width: 100%;
    height: 4.17rem;
    position: absolute;
    background-image: url("../img/dishini/head.png");
    background-size: cover;
    background-repeat: no-repeat; }
  .dishini .list {
    width: 7.1rem;
    height: 9rem;
    position: absolute;
    top: 3.8rem;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url("../img/dishini/list.png");
    background-size: cover;
    background-repeat: no-repeat; }
    .dishini .list a {
      width: 100%;
      height: 100%;
      display: block; }

.ditu {
  width: 100%;
  height: 100%;
  background-image: url("../img/ditu/bg.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .ditu .head {
    width: 100%;
    padding: 0 0.2rem;
    height: 0.88rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .ditu .head .back {
      width: 0.54rem;
      height: 0.54rem;
      background-image: url("../img/xianggang/back.png");
      background-size: cover;
      background-repeat: no-repeat; }
      .ditu .head .back a {
        display: block;
        width: 100%;
        height: 100%; }
    .ditu .head h3 {
      font-size: 0.4rem;
      color: #FFFFFF; }
    .ditu .head .menu {
      width: 0.8rem;
      height: 0.54rem;
      background-image: url("../img/xianggang/menu.png");
      background-size: cover;
      background-repeat: no-repeat; }
  .ditu .pao {
    width: 6.4rem;
    height: 4.5rem;
    position: absolute;
    top: 0.7rem;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url("../img/ditu/pao.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1; }
  .ditu .jieshuoo {
    width: 6.75rem;
    height: 9.2rem;
    position: absolute;
    top: 3.5rem;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url("../img/ditu/jieshuo.png");
    background-size: cover;
    background-repeat: no-repeat; }
  .ditu .start {
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    top: 7.3rem;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url("../img/ditu/start.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2; }
    .ditu .start a {
      width: 100%;
      height: 100%;
      display: block; }

.jieshuo {
  width: 100%;
  height: 100%;
  background-image: url("../img/jieshuo/bg.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .jieshuo .head {
    width: 100%;
    padding: 0 0.2rem;
    height: 0.88rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .jieshuo .head .back {
      width: 0.54rem;
      height: 0.54rem;
      background-image: url("../img/xianggang/back.png");
      background-size: cover;
      background-repeat: no-repeat; }
      .jieshuo .head .back a {
        display: block;
        width: 100%;
        height: 100%; }
    .jieshuo .head h3 {
      font-size: 0.4rem;
      color: #FFFFFF; }
    .jieshuo .head .menu {
      width: 0.8rem;
      height: 0.8rem;
      position: relative; }
      .jieshuo .head .menu i {
        font-size: 0.4rem;
        color: #FFFFFF;
        display: block;
        margin: 0.2rem; }
      .jieshuo .head .menu .list {
        width: 6rem;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 0.88rem;
        right: 0;
        z-index: 10;
        padding: 0.2rem 0.3rem;
        border-radius: 0.2rem;
        display: none; }
        .jieshuo .head .menu .list li {
          width: 100%;
          color: #00AA88;
          font-size: 0.3rem;
          line-height: 0.5rem;
          position: relative; }
          .jieshuo .head .menu .list li span1 {
            display: inline-block;
            width: 2rem; }
          .jieshuo .head .menu .list li span2 {
            display: inline-block;
            width: 1rem;
            margin-left: 0.3rem; }
          .jieshuo .head .menu .list li span4 {
            position: absolute;
            bottom: 0.15rem;
            right: -0.18rem;
            width: 2rem;
            display: block; }
            .jieshuo .head .menu .list li span4 samp1 {
              width: 0.3rem;
              height: 0.24rem;
              float: left;
              margin-left: 0.1rem;
              background: url(../img/music/bg.png) -32px -128px; }
              .jieshuo .head .menu .list li span4 samp1:hover {
                background: url(../img/music/bg.png) -32px -146px; }
            .jieshuo .head .menu .list li span4 samp2 {
              width: 0.3rem;
              height: 0.24rem;
              float: left;
              margin-left: 0.1rem;
              background: url(../img/music/bg.png) -47px -128px; }
              .jieshuo .head .menu .list li span4 samp2:hover {
                background: url(../img/music/bg.png) -47px -146px; }
            .jieshuo .head .menu .list li span4 samp3 {
              width: 0.3rem;
              height: 0.24rem;
              float: left;
              margin-left: 0.1rem;
              background: url(../img/music/bg.png) -64px -128px; }
              .jieshuo .head .menu .list li span4 samp3:hover {
                background: url(../img/music/bg.png) -64px -146px; }
            .jieshuo .head .menu .list li span4 samp4 {
              width: 0.3rem;
              height: 0.24rem;
              float: left;
              margin-left: 0.1rem;
              background: url(../img/music/bg.png) -95px -128px; }
              .jieshuo .head .menu .list li span4 samp4:hover {
                background: url(../img/music/bg.png) -80px -146px; }
          .jieshuo .head .menu .list li:hover {
            background-color: rgba(0, 0, 0, 0.9);
            color: #ffffff; }
          .jieshuo .head .menu .list li.active {
            background-color: rgba(0, 0, 0, 0.9);
            color: #0CC65B; }
  .jieshuo .swiper-container {
    width: 100%;
    height: 9rem; }
    .jieshuo .swiper-container #page {
      position: absolute;
      bottom: 0.1rem; }
    .jieshuo .swiper-container .swiper-slide {
      width: 100%;
      height: 100%;
      background-size: 100%;
      background-repeat: no-repeat; }
      .jieshuo .swiper-container .swiper-slide:nth-child(1) {
        background-image: none; }
        .jieshuo .swiper-container .swiper-slide:nth-child(1) h3 {
          width: 5rem;
          height: 1rem;
          text-align: center;
          font-size: 0.4rem;
          color: #464646;
          margin: 0 auto; }
          .jieshuo .swiper-container .swiper-slide:nth-child(1) h3 b {
            line-height: 1rem;
            display: inline-block;
            margin-top: -0.5rem; }
          .jieshuo .swiper-container .swiper-slide:nth-child(1) h3 span {
            width: 2rem;
            height: 1rem;
            line-height: 1rem;
            color: #b4b4b4;
            display: inline-block; }
        .jieshuo .swiper-container .swiper-slide:nth-child(1) .img {
          width: 5.5rem;
          height: 5.5rem;
          margin: 1rem auto;
          background-image: url("../img/jieshuo/touxiang.png");
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center; }
          .jieshuo .swiper-container .swiper-slide:nth-child(1) .img img {
            width: 5rem;
            height: 5rem;
            margin: 0.25rem; }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
      .jieshuo .swiper-container .swiper-slide:nth-child(2) {
        background-image: none; }
        .jieshuo .swiper-container .swiper-slide:nth-child(2) .lyric {
          width: 100%;
          height: 90%;
          margin: 0 auto;
          padding: 0.2rem 0;
          overflow: hidden; }
          .jieshuo .swiper-container .swiper-slide:nth-child(2) .lyric p {
            font-size: 0.3rem;
            height: 0.5rem;
            line-height: 0.5rem;
            color: #ccc;
            text-align: center; }
            .jieshuo .swiper-container .swiper-slide:nth-child(2) .lyric p.active {
              color: #fffc24;
              font-size: 0.34rem; }
      .jieshuo .swiper-container .swiper-slide:nth-child(3) {
        background-image: none; }
        .jieshuo .swiper-container .swiper-slide:nth-child(3) .info {
          width: 100%;
          padding: 0.3rem; }
          .jieshuo .swiper-container .swiper-slide:nth-child(3) .info li {
            width: 100%;
            height: 1.5rem;
            border-bottom: 1px solid #00AA88; }
            .jieshuo .swiper-container .swiper-slide:nth-child(3) .info li img {
              width: 1rem;
              height: 1rem;
              margin: 0.25rem;
              vertical-align: middle; }
            .jieshuo .swiper-container .swiper-slide:nth-child(3) .info li span {
              font-size: 0.5rem;
              color: #c0c0c0; }
  .jieshuo .time {
    width: 100%;
    height: 0.5rem;
    margin: 0.1rem auto 0;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .jieshuo .time .nowtime {
      width: 0.8rem;
      font-size: 0.3rem;
      line-height: 0.5rem;
      color: #FFFFFF; }
    .jieshuo .time .time-regulate {
      width: 5rem;
      background: #323232;
      height: 0.1rem;
      border-radius: 0.05rem;
      position: relative; }
      .jieshuo .time .time-regulate .time-bar {
        position: absolute;
        top: 0;
        left: 0;
        background: #0cc65b;
        height: 0.1rem;
        border-radius: 0.05rem; }
      .jieshuo .time .time-regulate .time-op {
        width: 0.2rem;
        height: 0.2rem;
        background-color: #0965ff;
        border-radius: 50%;
        position: absolute;
        top: -0.05rem;
        left: -0.05rem; }
    .jieshuo .time .alltime {
      width: 0.8rem;
      font-size: 0.3rem;
      line-height: 0.5rem;
      color: #FFFFFF; }
  .jieshuo .control {
    width: 100%;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .jieshuo .control .prev {
      width: 1.4rem;
      height: 1.4rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../img/jieshuo/prev.png"); }
    .jieshuo .control .play {
      width: 1.4rem;
      height: 1.4rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../img/jieshuo/play.png");
      margin: 0 0.5rem; }
      .jieshuo .control .play.active {
        background-image: url("../img/jieshuo/pause.png"); }
    .jieshuo .control .next {
      width: 1.4rem;
      height: 1.4rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../img/jieshuo/next.png"); }
  .jieshuo .list-item {
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .jieshuo .list-item i {
      color: #c2c2c2;
      font-size: 0.5rem; }
      .jieshuo .list-item i.active {
        color: #00aa00; }

.tingshuo {
  width: 100%;
  background-color: #1c1c23;
  padding: 0 0.2rem; }
  .tingshuo .head {
    width: 100%;
    height: 0.88rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1b22; }
    .tingshuo .head .back {
      width: 0.54rem;
      height: 0.54rem;
      background-image: url("../img/wanle/back.png");
      background-size: cover;
      background-repeat: no-repeat; }
      .tingshuo .head .back a {
        display: block;
        width: 100%;
        height: 100%; }
    .tingshuo .head h3 {
      font-size: 0.4rem;
      color: #FFFFFF; }
    .tingshuo .head .menu {
      width: 0.8rem;
      height: 0.54rem;
      background-image: url("../img/wanle/menu.png");
      background-size: cover;
      background-repeat: no-repeat; }
  .tingshuo .mxyyb {
    width: 100%;
    height: 6rem;
    position: relative; }
    .tingshuo .mxyyb .title {
      width: 100%;
      height: 1rem;
      background-image: url("../img/tingshuo/mxyyb.png");
      background-size: cover;
      background-repeat: no-repeat; }
    .tingshuo .mxyyb .mx {
      width: 100%;
      height: 3.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 1; }
      .tingshuo .mxyyb .mx .yyb {
        width: 2.25rem;
        height: 3.45rem;
        background-size: cover;
        background-repeat: no-repeat; }
        .tingshuo .mxyyb .mx .yyb a {
          display: block;
          width: 100%;
          height: 100%; }
        .tingshuo .mxyyb .mx .yyb:nth-child(1) {
          background-image: url("../img/tingshuo/mx1.png"); }
        .tingshuo .mxyyb .mx .yyb:nth-child(2) {
          background-image: url("../img/tingshuo/mx2.png"); }
        .tingshuo .mxyyb .mx .yyb:nth-child(3) {
          background-image: url("../img/tingshuo/mx3.png"); }
    .tingshuo .mxyyb .bg {
      width: 100%;
      height: 2.3rem;
      position: absolute;
      bottom: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../img/tingshuo/bg.png"); }
  .tingshuo .ykyyb {
    width: 100%;
    height: 8.5rem; }
    .tingshuo .ykyyb .title {
      width: 100%;
      height: 1rem;
      background-image: url("../img/tingshuo/ykyyb.png");
      background-size: cover;
      background-repeat: no-repeat;
      position: relative; }
      .tingshuo .ykyyb .title a {
        width: 1rem;
        height: 1rem;
        display: block;
        position: absolute;
        top: 0;
        right: 0; }
    .tingshuo .ykyyb .yk {
      width: 100%;
      height: 7.5rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap; }
      .tingshuo .ykyyb .yk .yyb {
        width: 2.15rem;
        height: 3.05rem;
        background-size: cover;
        background-repeat: no-repeat; }
        .tingshuo .ykyyb .yk .yyb a {
          display: block;
          width: 100%;
          height: 100%; }
        .tingshuo .ykyyb .yk .yyb:nth-child(1) {
          background-image: url("../img/tingshuo/yk1.png"); }
        .tingshuo .ykyyb .yk .yyb:nth-child(2) {
          background-image: url("../img/tingshuo/yk2.png"); }
        .tingshuo .ykyyb .yk .yyb:nth-child(3) {
          background-image: url("../img/tingshuo/yk3.png"); }
        .tingshuo .ykyyb .yk .yyb:nth-child(4) {
          background-image: url("../img/tingshuo/yk4.png"); }
        .tingshuo .ykyyb .yk .yyb:nth-child(5) {
          background-image: url("../img/tingshuo/yk5.png"); }
        .tingshuo .ykyyb .yk .yyb:nth-child(6) {
          background-image: url("../img/tingshuo/yk6.png"); }

.luyin {
  width: 100%;
  height: 100%;
  background-image: url("../img/luyin/xiantiao.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 0.2rem;
  position: relative; }
  .luyin .head {
    width: 100%;
    height: 0.88rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1b22; }
    .luyin .head .back {
      width: 0.54rem;
      height: 0.54rem;
      background-image: url("../img/wanle/back.png");
      background-size: cover;
      background-repeat: no-repeat; }
      .luyin .head .back a {
        display: block;
        width: 100%;
        height: 100%; }
    .luyin .head h3 {
      font-size: 0.4rem;
      color: #FFFFFF; }
    .luyin .head .menu {
      width: 0.8rem;
      height: 0.54rem;
      background-image: url("../img/wanle/menu.png");
      background-size: cover;
      background-repeat: no-repeat; }
  .luyin .time {
    width: 100%;
    margin-top: 1.2rem; }
    .luyin .time h3 {
      width: 100%;
      height: 0.6rem;
      font-size: 0.4rem;
      font-weight: bolder;
      text-align: center;
      line-height: 0.6rem;
      color: #FFFFFF; }
    .luyin .time h4 {
      width: 100%;
      height: 1rem;
      font-size: 0.6rem;
      font-weight: 100;
      text-align: center;
      line-height: 1rem;
      color: #FFFFFF; }
    .luyin .time .control {
      width: 100%;
      height: 2rem;
      margin-top: 4.5rem;
      padding: 0 1.8rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .luyin .time .control i {
        font-size: 1.25rem;
        color: #FFFFFF;
        line-height: 2rem; }
        .luyin .time .control i:nth-last-child(1) {
          margin-top: -0.3rem;
          font-size: 1.28rem; }
        .luyin .time .control i.icon-kaishi {
          margin-top: -0.2rem; }
  .luyin .jianjie {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    display: none; }
    .luyin .jianjie .content {
      width: 6rem;
      height: 4rem;
      background-color: #FFFFFF;
      border-radius: 0.15rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; }
      .luyin .jianjie .content .title {
        width: 100%;
        height: 3rem;
        padding: 0.5rem 0.3rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
        .luyin .jianjie .content .title p {
          text-align: center;
          line-height: 1rem;
          font-size: 0.3rem;
          color: #000000; }
          .luyin .jianjie .content .title p input {
            outline: none;
            border: none;
            background-color: transparent;
            border-bottom: 1px solid #000000;
            margin-left: 0.2rem; }
      .luyin .jianjie .content .confirm {
        width: 100%;
        height: 1rem; }
        .luyin .jianjie .content .confirm a {
          display: block;
          width: 50%;
          height: 100%;
          float: left; }
          .luyin .jianjie .content .confirm a p {
            font-size: 0.5rem;
            color: #000000;
            line-height: 1rem;
            text-align: center; }
            .luyin .jianjie .content .confirm a p:nth-child(1) {
              border-right: 1px solid rgba(0, 0, 0, 0.5); }

.linzhiling {
  width: 100%;
  height: 100%;
  background-image: url("../img/linzhiling/lizhiling.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 0.2rem; }
  .linzhiling .head {
    width: 100%;
    height: 0.88rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .linzhiling .head .back {
      width: 0.54rem;
      height: 0.54rem;
      background-image: url("../img/wanle/back.png");
      background-size: cover;
      background-repeat: no-repeat; }
      .linzhiling .head .back a {
        display: block;
        width: 100%;
        height: 100%; }
    .linzhiling .head h3 {
      font-size: 0.4rem;
      color: #FFFFFF; }
    .linzhiling .head .menu {
      width: 0.8rem;
      height: 0.54rem;
      background-image: url("../img/wanle/menu.png");
      background-size: cover;
      background-repeat: no-repeat; }

.fujin {
  width: 100%;
  background-color: #1c1c23; }
  .fujin .head {
    width: 100%;
    height: 0.88rem;
    padding: 0 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1b22; }
    .fujin .head .back {
      width: 0.54rem;
      height: 0.54rem;
      background-image: url("../img/wanle/back.png");
      background-size: cover;
      background-repeat: no-repeat; }
      .fujin .head .back a {
        display: block;
        width: 100%;
        height: 100%; }
    .fujin .head h3 {
      font-size: 0.4rem;
      color: #FFFFFF; }
    .fujin .head .menu {
      width: 0.8rem;
      height: 0.54rem;
      background-image: url("../img/wanle/menu.png");
      background-size: cover;
      background-repeat: no-repeat; }
  .fujin .list {
    width: 100%; }
    .fujin .list .item {
      width: 100%;
      height: 3.4rem;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
      .fujin .list .item a {
        display: block;
        width: 100%;
        height: 100%; }
      .fujin .list .item:nth-child(1) {
        background-image: url("../img/fujin/fujin1.png"); }
      .fujin .list .item:nth-child(2) {
        background-image: url("../img/fujin/fujin2.png"); }
      .fujin .list .item:nth-child(3) {
        background-image: url("../img/fujin/fujin3.png"); }
      .fujin .list .item:nth-child(4) {
        background-image: url("../img/fujin/fujin4.png"); }

.shoucang {
  width: 100%;
  height: 100%;
  background-color: #1c1c23;
  padding: 0 0.2rem; }
  .shoucang .head {
    width: 100%;
    height: 0.88rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1b22; }
    .shoucang .head .back {
      width: 0.54rem;
      height: 0.54rem;
      background-image: url("../img/wanle/back.png");
      background-size: cover;
      background-repeat: no-repeat; }
      .shoucang .head .back a {
        display: block;
        width: 100%;
        height: 100%; }
    .shoucang .head h3 {
      width: 5.2rem;
      height: 0.4rem;
      background-color: #272731;
      border-radius: 0.1rem; }
      .shoucang .head h3 b {
        width: 50%;
        height: 100%;
        color: #959596;
        font-size: 0.24rem;
        line-height: 0.4rem;
        text-align: center;
        float: left;
        border-radius: 0.1rem; }
        .shoucang .head h3 b.active {
          background-color: #2c63ff;
          color: #FFFFFF; }
    .shoucang .head .menu {
      width: 0.8rem;
      height: 0.54rem;
      background-image: url("../img/wanle/menu.png");
      background-size: cover;
      background-repeat: no-repeat; }
  .shoucang .jingdianlist {
    width: 100%;
    display: block; }
    .shoucang .jingdianlist .item {
      width: 100%;
      height: 2.5rem;
      margin: 0.3rem 0;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 0.1rem; }
      .shoucang .jingdianlist .item:nth-child(1) {
        background-image: url("../img/shoucang/jd1.png"); }
      .shoucang .jingdianlist .item:nth-child(2) {
        background-image: url("../img/shoucang/jd2.png"); }
      .shoucang .jingdianlist .item:nth-child(3) {
        background-image: url("../img/shoucang/jd3.png"); }
      .shoucang .jingdianlist .item:nth-child(4) {
        background-image: url("../img/shoucang/jd4.png"); }
    .shoucang .jingdianlist h3 {
      font-size: 0.3rem;
      width: 100%;
      height: 1rem;
      line-height: 1rem;
      text-align: center;
      color: #c0c0c0; }
  .shoucang .tiezilist {
    width: 100%;
    display: none; }
    .shoucang .tiezilist .item {
      width: 100%;
      height: 1.85rem;
      margin: 0.3rem 0;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 0.1rem; }
      .shoucang .tiezilist .item:nth-child(1) {
        background-image: url("../img/shoucang/tz1.png"); }
      .shoucang .tiezilist .item:nth-child(2) {
        background-image: url("../img/shoucang/tz2.png"); }
      .shoucang .tiezilist .item:nth-child(3) {
        background-image: url("../img/shoucang/tz3.png"); }
    .shoucang .tiezilist h3 {
      font-size: 0.3rem;
      width: 100%;
      height: 1rem;
      line-height: 1rem;
      text-align: center;
      color: #c0c0c0; }

.xingcheng {
  width: 100%; }
  .xingcheng .head {
    width: 100%;
    height: 0.88rem;
    padding: 0 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1b22; }
    .xingcheng .head .back {
      width: 0.54rem;
      height: 0.54rem;
      background-image: url("../img/wanle/back.png");
      background-size: cover;
      background-repeat: no-repeat; }
      .xingcheng .head .back a {
        display: block;
        width: 100%;
        height: 100%; }
    .xingcheng .head h3 {
      font-size: 0.4rem;
      color: #FFFFFF; }
    .xingcheng .head .menu {
      width: 0.8rem;
      height: 0.54rem;
      background-image: url("../img/wanle/menu.png");
      background-size: cover;
      background-repeat: no-repeat; }
  .xingcheng .list {
    width: 100%; }
    .xingcheng .list .item {
      width: 100%;
      height: 5.45rem;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
      .xingcheng .list .item a {
        display: block;
        width: 100%;
        height: 100%; }
      .xingcheng .list .item:nth-child(1) {
        background-image: url("../img/xingcheng/list1.png"); }
      .xingcheng .list .item:nth-child(2) {
        background-image: url("../img/xingcheng/list2.png"); }
  .xingcheng .add {
    width: 0.75rem;
    height: 0.75rem;
    margin: 0.4rem auto;
    background-image: url("../img/xingcheng/add.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

.tiezi {
  width: 100%; }
  .tiezi .head {
    width: 100%;
    height: 0.88rem;
    padding: 0 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1b22; }
    .tiezi .head .back {
      width: 0.54rem;
      height: 0.54rem;
      background-image: url("../img/wanle/back.png");
      background-size: cover;
      background-repeat: no-repeat; }
      .tiezi .head .back a {
        display: block;
        width: 100%;
        height: 100%; }
    .tiezi .head h3 {
      font-size: 0.4rem;
      color: #FFFFFF; }
    .tiezi .head .menu {
      width: 1.2rem;
      height: 0.88rem;
      margin-right: 0.2rem;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .tiezi .head .menu i {
        color: #FFFFFF;
        font-size: 0.3rem; }
        .tiezi .head .menu i:nth-child(1) {
          margin-top: 0.08rem; }
        .tiezi .head .menu i.active {
          color: #00aa00; }
  .tiezi .title {
    width: 100%;
    height: 3.2rem;
    padding: 0.3rem;
    border-bottom: 1px solid #707071; }
    .tiezi .title h3 {
      font-size: 0.4rem;
      color: #707071;
      line-height: 0.7rem;
      text-align: left; }
      .tiezi .title h3 img {
        width: 0.4rem;
        height: 0.4rem;
        vertical-align: text-top; }
    .tiezi .title h4 {
      font-size: 0.4rem;
      color: #707071;
      line-height: 0.7rem;
      text-align: right; }
    .tiezi .title .author {
      width: 100%;
      height: 1.3rem;
      padding: 0.1rem; }
      .tiezi .title .author .img {
        width: 0.9rem;
        height: 0.9rem;
        margin: 0.1rem;
        float: left;
        background-image: url("../img/tiezi/hai.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .tiezi .title .author .word {
        width: 5rem;
        height: 1rem;
        float: left;
        margin-left: 0.2rem;
        padding: 0; }
        .tiezi .title .author .word p {
          line-height: 0.5rem; }
          .tiezi .title .author .word p:nth-child(1) {
            font-size: 0.24rem;
            color: #000000;
            font-weight: bold; }
          .tiezi .title .author .word p:nth-child(2) {
            font-size: 0.18rem;
            color: #707071; }
  .tiezi .banner {
    width: 100%;
    height: 4.3rem;
    padding: 0.3rem;
    background-image: url("../img/tiezi/banner.png");
    background-size: 90% 90%;
    background-position: center;
    background-repeat: no-repeat; }
  .tiezi .word {
    width: 100%;
    padding: 0.3rem;
    color: #7a7979;
    font-size: 0.24rem; }
    .tiezi .word p {
      line-height: 0.5rem;
      padding-left: 0.05rem; }
  .tiezi .input {
    width: 100%;
    height: 1rem;
    position: fixed;
    bottom: 0;
    z-index: 2;
    text-align: center;
    line-height: 0.6rem;
    background-color: #ebe9e9; }
    .tiezi .input input {
      outline: none;
      width: 5.5rem;
      height: 0.6rem;
      border-radius: 0.15rem;
      line-height: 0.6rem;
      font-size: 0.3rem;
      color: #2C3E50;
      border: 1px solid rgba(0, 0, 170, 0.47); }
    .tiezi .input span {
      margin-left: 0.2rem;
      font-size: 0.3rem;
      color: #3c41aa; }
